@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Aref+Ruqaa+Ink:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=Gemunu+Libre:wght@200&family=Roboto:wght@100;300&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,400&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Alkalami', serif; */

}

.navbar {
  font-size: 1.3em;
  text-transform: uppercase;
  margin-top: 20px;
}

.container{
  z-index: -1;
}

.container.nav-current {
  color: rgb(192, 180, 17);
  text-transform: uppercase;
  z-index: -1;
}
.navbar-nav {
  justify-content: center;
  align-items: center;
}

.nav-item > a {
  color: #ddd3d3;
}

.nav-item > a:hover {
  transform: translateX(-2px);
  color: rgb(192, 180, 17);
  transition: all 0.1s;
}
.container-fluid > a:hover {
  transform: translateY(-5px);
  color: #c49617f1;
}
.img-arrow {
  width: 50px;
}

/* ideia de animaçao para os containers*/

.container-news {
  width: 70vw;
  background-color: rgb(223, 223, 245);
  border: 1px solid rgb(12, 11, 11);
  position: relative;
  top: 10rem;
  left: 4rem;
}

.container-news-mascote {
  position: relative;
  top: -66px;
  z-index: -1!important;
}

.aviso {
  text-align: start;
  color: rgb(66, 27, 207);
  position: absolute;
  z-index: 2;
  left: 50%;
  right: -70px;
  top: 50%;
  transform: translate(-50%,-50%);
  margin: 0px;
  padding-top: 10px;
}

