<!-- pagina por Carlos J. Pinheiro -->
<nav class="navbar navbar-expand-lg d-flex align-baseline fixed-top" style="padding-bottom: 40px; z-index: 1; justify-content: center;margin-top: -18px!important ">    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active"  aria-current="page">Area do Cliente</li>
      </ol>
    </nav>
</nav>
<div class="row">
    <div class="col-sm-12 mt-5 pt-5">
        <h2>Área do Cliente</h2>
        <h4>Acesse seus produtos contratados</h4>
        <p>Nesta página é exibida a interface gráfica das soluções que rodam em browser, assim como acesso aos dados e configurações gerenciais.</p>
    </div>
</div>