 /* DIVISOR universal */
.divisor-solucoes {
  width: 100%;
  height: 10px;
  background-color: #fffffff1;
  margin-top: 45px;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* suporte flex-align */
.product-suporte {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {font-size: calc(1rem + 1.5vw)!important;}
